importClassesFrom("methods", "character", "list")
importClassesFrom("BiocGenerics", "connection")
importClassesFrom("Rgraphviz", "Ragraph")
importClassesFrom("graph", "graph")
importMethodsFrom("geneplotter", "imageMap")

export("imageMap")
