importClassesFrom("Rgraphviz", "Ragraph")
importClassesFrom("geneplotter", "connection")
importClassesFrom("graph", "graph")
importClassesFrom("methods", "character", "list")
importMethodsFrom("geneplotter", "imageMap")

export("imageMap")
